.header {
  padding: 20px;
	margin-bottom: 20px;
  background: linear-gradient(
    to right,
    rgb(206, 47, 47),
    orange,
    yellow,
    rgb(64, 173, 64),
    rgb(0, 110, 255),
    rgb(88, 145, 230),
    violet
  );
}

.formWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  color: rgb(36, 73, 74);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
	border: 1px solid rgb(36, 73, 74);
}

.input {
  width: 100%;
  border-right: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  outline: 1px solid transparent;
  color: rgb(36, 73, 74);
  border: 3px solid #00b4cc;
}

.input::placeholder {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  color: rgb(36, 73, 74);
}

.searchButton {
  width: 55px;
  height: 53px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: #fff;
  border: 1px solid #00b4cc;
  background-color: #00b4cc;
}

.handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 25px;
  color: #fff;
}

